

.top{
    postion:relative;
    text-align:center;
    background-color: #f5c7b8ff;
    
    
}
.top-later{
    text-align:center;
    background-color:rgb(193, 209, 236);
    background-image: url("two.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    
}
.image2{
   
   background:rgba(133, 165, 219, 0.723);
    position:absolute;
    z-index: 1;
    top:0px;
    left:0px;
    width:100%;
    height:110%;
}
.under{
    position: absolute;;
    z-index: 2;
    top:2%;
    left:38%;
}


.mybtn{
      color:#ec707b;
       margin-left: 10px;
       border-color: #ec707b;
      
}
.mybtn:hover{
    background-color: #1b5b6b;
}
.mybtn2{
    color:#1b5b6b;
    margin-left: 10px;
    border-color:#1b5b6b ;

}
.mybtn2:hover{
    background-color:#1b5b6b ;
}
.searchbar{
height: 600px;
display:flex;
align-items: center;
justify-content: center;
}

.forms{
    padding:auto;
    display: flex;
    align-items: center;

}


.inputfield{
    box-shadow: 4px 4px 10px ;
    border-radius: 10px;
}
.heading{
    margin-top: 3%;
    color:#ec707b;
    font-family: 'Delius', cursive;
    text-shadow: black;
    margin-bottom: 0px;
    font-size:77px;
    font-weight: bold;
}
.heading2{
    margin-top: 3%;
    color:#1b5b6b;
    font-family: 'Delius', cursive;
    margin-bottom: 0px;
    font-size:77px;
    font-weight: bold;
}